*{
    margin:30px;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
 
 }
 
 body{
     background-color: rgb(233, 239, 240);
     color: rgb(24, 26, 26);
     font-family: Georgia, 'Times New Roman', Times, serif;
 
 }
 
 
 .card{
    box-shadow: 0 4px 8px 0 black (0, 0, 0, 0);
    overflow: hidden;
    width: 700px;
    height: 1100px;
    margin: auto;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
    background-color: rgb(144, 180, 221);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    

   
 }

 .button:hover{
    max-width: 310px;
 }
 #encabezado{
    width: 95%;
    background-color: rgb(92, 115, 150);
    margin: 1em;
    border-radius: 5px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

 
 


button{
    border: none;
    outline: 0;
    display: block;
    padding: 8px;
    color: rgb(248, 245, 245);
    background-color: rgb(89, 118, 126);
    text-align: center;
    
    width: 100px;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
   
} 



.contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
     
  
}
       

button:hover
{
    color: black;
    font-size: 16px;
}


