*{
    margin: 0;
    padding: 0;
}

#contenido{
    width: 800px;
    height: 1200px;
    background-color: rgb(188, 215, 236);
    margin: 10px;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


body{

    background-color: rgb(144, 181, 192);
    color: white;
}



ul{
    text-align: center;
    padding: 20px;
}

li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}

li a:hover{
    color: rgb(243, 243, 247);
    text-decoration: none;
    list-style: none;
    font-size: 20px;
}
#encabezado{
    width: 90%;
    background-color: rgb(129, 143, 155);
    margin: 1em;
    border-radius: 5px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#menu{
    height: 60px;
    background-color: rgb(150, 168, 189);
    margin: 1em;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#pie{
    height: 40px;
    background-color: rgb(151, 162, 230);
    margin: 1.5em;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

#pie h4{
    padding: 15px;
    font-size: 25px;
    color:  rgb(243, 239, 239);
}
/*selector de clase*/

.img{
    width: 50%;
    border-radius: 20px;
    justify-items: center;
 }
 
 .texto{
     text-align: justify;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 20px;
     padding: 5px 25px;
     color: rgb(253, 251, 251);
 
 } 
 
 .linea{
    width: 80%;
    height: 1px;
    background-color: black;
    margin: 20px auto;
}
 
button:hover
{
    color: black;
    font-size: 16px;
}
 
 