*{
    margin: 0;
    padding: 0;
}

/*selector de etiquetas*/

body{

   background-color: rgb(166, 199, 183);
}

/*selector de Id*/

#encabezado{
    width: 95%;
    background-color: rgb(115, 158, 138);
    margin: 1em;
    border-radius: 5px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


#menu{
    height: 40px;
    background-color: rgb(116, 170, 152);
    margin: 1em;
    border-radius: 5px;
}

#pie{
    height: 70px;
    background-color: rgb(62, 124, 100);
    margin: 1.5em;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

#pie h4{
    padding: 20px;
    font-size: 25px;
    color:  black;
}



/*selector de etiqueta de menu*/

ul{
    text-align: center;
    padding: 10px;
}

li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}

li a:hover{
    color: rgb(207, 200, 202);
    text-decoration: none;
    list-style: none;
    font-size: 20px;
}

/*selector de clase*/

.img{
  
   border-radius: 10px;
   justify-items: center;
   background-color: rgb(183, 238, 220);
}

.texto{
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 5px 25px;
    color: rgb(243, 242, 242);
    text-align: center;
    justify-content: space-around;
    align-items: center;
    justify-content: center;

}



.a{
    text-align: center;
}


.card{
    box-shadow: 0 4px 8px 0 black (0, 0, 0, 0);
    overflow: hidden;
    max-width: 300px;
    max-height: 500px;
    margin: auto;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
    background-color: rgb(88, 163, 132);
    margin-bottom: 15px;

   
 }

 .button:hover{
    max-width: 310px;
 }

 .card img{
    background-color: rgb(67, 117, 100);
 }
 
.title{
    color: rgb(233, 230, 233);
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: space-around;
    align-items: center;
    justify-content: center;

    

}

button{
    border: none;
    outline: 0;
    display: block;
    padding: 8px;
    color: rgb(248, 245, 245);
    background-color: rgb(62, 136, 93);
    text-align: center;
    
    width: 100%;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
} 
.linea{
    width: 80%;
    height: 1px;
    background-color: rgb(252, 252, 252);
    margin: 20px auto;
} 



.contenedory{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
     
  
}
       

button:hover
{
    color: black;
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}
body{
    background-color: rgb(166, 199, 183);
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}
.fondo{
    padding: 32px 0;
    background-color: rgb(24, 122, 122);
}
.fondo{
    padding: 47px 0;
}
.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
}

.logo{
    font-size: 30px;
    color: aqua;
    font-weight: 800;
    text-transform: uppercase;
}
.menu .navbar ul li{
    position: relative;
    float: left;
}
.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: beige;
    display: block;
}
.menu .navbar ul li a:hover{
    color: aquamarine;
}
#menu{
    display: none;
}
.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}
#menu:checked ~ .navbar{
    display: initial;
}

@media(max-width:991px){
    .menu{
        padding: 30px;
    }
    .menu label{
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgb(99, 173, 145);
        display: none;
    }


.menu .navbar ul li{
    width: 100%;
}

#menu:checked ~ .navbar{
    display: initial;

}
}