*{
    margin: 0;
    padding: 0;
}



body{

    background-color:  rgb(180, 216, 233);
    color: rgb(8, 8, 8);
}
ul{
    text-align: center;
    padding: 20px;
}

li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}

li a:hover{
    color: rgb(17, 17, 17);
   
    list-style: none;
    font-size: 20px;
}
#encabezado{
    width: 95%;
    background-color: rgb(112, 170, 206);
    margin: 1em;
    border-radius: 5px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#menu{
    width: 95%;
    height: 60px;
    background-color: rgb(118, 169, 206);
    margin: 1em;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#pie{
    height: 100px;
    background-color: rgb(244, 246, 247);
    margin: 1.5em;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

#pie h4{
    padding: 15px;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:  rgb(23, 23, 23);
}
/*selector de clase*/

.img{
    width: 50%;
    border-radius: 20px;
    justify-items: center;
 }
 
 .texto{
     text-align: justify;
    font-family: ger;
     font-size: 15px;
     padding: 5px 25px;
     color: rgb(0, 0, 0);
 
 }
 

 
 .card{
    box-shadow: 0 4px 8px 0 rgb(233, 232, 232) (0, 0, 0, 0);
    overflow: hidden;
    max-width: 200px;
    max-height: 300px;
    margin: auto;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    background-color: rgb(199, 229, 250);

    

 }

 

 .card img{
    background-color: rgb(255, 255, 255);
 }
 
.title{
    color: rgb(51, 52, 53);
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: rgb(248, 245, 245);
    background-color: rgb(143, 195, 230);
    text-align: center;
    width: 200px;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button:hover
{
    color: black;
    font-size: 16px;
}

.linea{
    width: 95%;
    height: 5px;
    background-color: rgb(252, 248, 248);
    margin: 10px auto;
}
.contenedory{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
   

}

.li:hover{
    background-color: aquamarine;
}
