*{
    box-sizing: border-box;
}

.contenedor{
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    background-color: antiquewhite;
    padding: 10px;
    border: 2px solid black;
    width: 500px;
   

}

.contenedorj{
    display: flex;

    flex-direction: row;
    justify-content: center;
    background-color: rgb(61, 90, 41);
    padding: 10px;
    border: 2px solid rgb(160, 142, 142);
    width: 700px;
   

}

.contenedorc{
    display: flex;

    flex-direction: row;
    justify-content:end;
    background-color: rgb(41, 90, 88);
    padding: 10px;
    border: 2px solid rgb(160, 142, 142);
    width: 700px;
   

}
.contenedors{
    display: flex;

    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(131, 92, 146);
    padding: 10px;
    border: 2px solid rgb(160, 142, 142);
    width: 1000px;
   

}
.contenedorb{
    display: flex;

    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(90, 41, 68);
    padding: 10px;
    border: 2px solid rgb(160, 142, 142);
    width: 1000px;
   

}
.contenedort{
    display: flex;

    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    background-color: rgb(41, 46, 90);
    padding: 10px;
    border: 2px solid rgb(160, 142, 142);
    width: 1000px;
    height: 1000px;
   

}

.contenedorh{
    display: flex;
     justify-content: space-around;
    flex-direction: row;
    align-items: flex-end;
    background-color: rgb(90, 41, 68);
    padding: 10px;
    border: 2px solid rgb(160, 142, 142);
    width: 1000px;
    height: 1000px;
   

}

.contenedorp{
    display: flex;

    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    background-color: rgb(90, 41, 68);
    padding: 10px;
    border: 2px solid rgb(160, 142, 142);
    width: 1000px;
    height: 1000px;
   

}
.contenedorr{
    display: flex;

    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    background-color: rgb(90, 41, 68);
    padding: 10px;
    border: 2px solid rgb(160, 142, 142);
    width: 1000px;
    height: 1000px;
   

}
.contenedory{
    display: flex;

    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    background-color: rgb(136, 141, 187);
    padding: 10px;
    border: 2px solid rgb(160, 142, 142);
    width: 10px;
    height: 10px;
   

}
.item:hover{
    background-color: rgb(112, 105, 105);
}






.item{
    background-color: rgb(191, 204, 200);
    width: 100px;
 
    margin: 10px;
    border: 2px solid;
    text-align: center;
    line-height: 75px;
    font-size: 75px;
    
    
}

button:hover
{
    color: black;
    font-size: 16px;
}
