*{
    margin: 0;
    padding: 0;

}

.titulo{
    font-size: 40px;
    text-align: center;

}

.subtitulo{
    margin: 10px;
    text-align: center;
}

.img{
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}

.contener{
    border: 2px solid;
    margin: 10px;
    padding: 10px;
    background-color: antiquewhite;
}

@media screen and (max-width:1200px ) {
    body{
        background-color: black;
        color: rgb(77, 50, 15);

    }

    .titulo{
        font-size: 30px;
        
    }
    
}

@media screen and (max-width: 900px){
    body{
        background-color: blue;
        color: blueviolet;
    }

    .titulo{
        font-size: 25px;
    }

    .img{
        width: 70%;
    }
}

@media screen and (max-width: 600px){
    body{
        background-color: rgb(109, 109, 146);
        color: rgb(68, 189, 158);
    }

    .titulo{
        font-size: 15px;
    }

    .img{
        width: 40%;
    }
}